<div class="row"><br />
  <div class="col s3 center">
    <%= image_tag @user.profile.avatar.url, class: 'user-show-avatar' %>
  </div>
  <div class="col s6">
    <h1 class="center"><%= @user.profile.name %> <%= @user.profile.last_name %></h1>
    <h3><%= @user.profile.job_title %></h3>
    <div class="profile-block profile-description"><br />
      <h3 class="center">Description</h3>
      <p class="center"><%= @user.profile.description %></p><br />
    </div><br />


    <div class="profile-block contact-info"><br />
      <h3 class="center">Contact Info</h3>
      <p class="center"><%= @user.profile.phone_number %></p><br/>
      <p class="center"><%= @user.profile.contact_email %></p><br/>
    </div>
  </div>
</div>
